body { margin: 0; background: rgba(1, 101, 104, 0.884); }

#preferences{
  display: flex;
  justify-content: space-between;
  max-width: 800px;
}

#office{
  display: block;
  width: 300px
}

#office{
  display: block;
  height: 300px
}
